<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>GroupStatus_Server</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.GroupStatus_ServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupStatus_Server</servlet-name>
		<url-pattern>/groupstatus_server</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CreateFooStatus</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.statusdatabase.ServletCreateFooStatuses</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateFooStatus</servlet-name>
		<url-pattern>/CreateFooStatus</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteFooStatus</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.statusdatabase.ServletDeleteFooStatuses</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFooStatus</servlet-name>
		<url-pattern>/RemoveFooStatus</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateFooUser</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.userdatabase.ServletCreateFooUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateFooUser</servlet-name>
		<url-pattern>/CreateFooUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteFooUser</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.userdatabase.ServletDeleteFooUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFooUser</servlet-name>
		<url-pattern>/RemoveFooUser</url-pattern>
	</servlet-mapping>
	

	
	<servlet>
		<servlet-name>CreateNewUser</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.userdatabase.ServletCreateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNewUser</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveUser</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.userdatabase.ServletRemoveUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUser</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	
	
	
<!-- <welcome-file>ParticipantManagementApplication.jsp</welcome-file> -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>  

<!-- 
<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>CreateNewTodo</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.Todo.ServletCreateTodo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>edu.uci.ics.luci.groupstatusserver.Todo.ServletRemoveTodo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTodo</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>TodoApplication.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>
-->

